@use 'sass:map';
// Colors
$abbey: #595a5c;
$atlantis: #9aca3f;
$validGreen: rgb(78, 171, 56);
$colors: ( primary: #5f9dff, secondary: #6f75ff, light-primary: #ffffff, light-secondary: #ced9eb, dark-primary: #121212, dark-secondary: #404852, gradient-primary: linear-gradient(90deg, #6f74ff 0%, #5e9dff 100%), gradient-secondary : linear-gradient(90deg, #6f75ff 0%, #999dff 50.52%, #adb1ff 100%), gradient-light : linear-gradient( 180deg, #ffffff 2.5%, #f5f9ff 16.75%, #ebf3ff 39.72%, #f5f9ff 62.44%, #ffffff 83.72%), gradient-dark : linear-gradient( 90deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.72) 41.89%, rgba(255, 255, 255, 0.684) 74.02%, rgba(255, 255, 255, 0.855) 100%), );